<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<!--/*@thymeleaf id="vet" type="com.georgidinov.recipeapp.domain.Recipe"*/-->
<table class="table table-striped">
    <thead>
    <tr>Description</tr>
    <tr>Prep Time</tr>
    <tr>Cook Time</tr>
    <tr>Servings</tr>
    <tr>Source</tr>
    <tr>Url</tr>
    <tr>Difficulty</tr>
    <tr>Notes</tr>
    </thead>
    <tbody id="recipes">
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.description}">Recipe Description</td>
        <td th:text="${recipe.prepTime}">Prep Time</td>
        <td th:text="${recipe.servings}">Cook Time</td>
        <td th:text="${recipe.source}">Recipe Description</td>
        <td th:text="${recipe.url}">Prep Time</td>
        <td th:text="${recipe.difficulty}">Cook Time</td>
        <td th:text="${recipe.notes}">Cook Time</td>
    </tr>
    </tbody>
</table>
</body>
</html>